section.dd-container(ng-transclude)
dd-placeholder(
	dd-row="{{ddPlaceholder.$row}}",
	dd-col="{{ddPlaceholder.$col}}",
	dd-width="{{ddPlaceholder.$width}}",
	dd-height="{{ddPlaceholder.$height}}",
	ng-class="ddPlaceholder.class"
	lol="{{ddPlaceholder.class}}")